@charset "utf-8";

*
{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin:0px;  /* fixe la marge extérieur a 0*/
  padding:0px;  /* fixe la marge interieur a 0*/

}


.burger{
  display: none; /* display none fait siparraitre un élement */
}

.conteneur /* .quelque_chose est pour une class */
{
  max-width: 1280px; /* fixe la largeur a 1280px*/
  margin:auto;
}

/*header*/
header{ /* un nom sans . ou # reprend une balise html*/

  background: #333333; /* affecte un fond de couleur à un bloc*/
  height: 50px; /* hauteur*/


}

header img{
  width: 50%; /* largeur */
}

#logo {
  text-align: left; /* text-align permet de positionner un bloc horizontalement*/
  width: 10%
}
#texte1{
  font-size: 45px; /* grandeur écriture*/
  color: #ffffff; /* couleur police*/
  

}

/*body*/
body  {

  background: #bfeaf4;
  background-repeat: no-repeat; 
  background-position: center;
  background-attachment: fixed;
  background-size:cover; /* couvre toute la page */
  height: 100%;
}

/*nav PC*/
.non_menu{
  display: none;
}
nav{
  width: 100%;
  margin: 0 auto;
  background-color: #333333;
  position: sticky;
  top:0px; /* positionne pour le haut */
  border-top: 2px solid white; /* bordure basse*/
  z-index: 10000; /* fait passer ce bloc au dessus de tous*/
  font-family: 'robotolight';
}
nav ul {
  list-style-type: none;  /* enlève les puces lié au ul li*/
}
nav ul li{
  float: left;
  width: 20%;
  text-align: center;
  position: relative;
  border-right: 2px solid white;
}
nav ul:after{
  content: "";
  display: table;
  clear: both;
}
nav a{
  display: block;
  text-decoration:none; /* enlève le soulignement */
  color: white;
  border-bottom: 2px solid transparent;
  padding: 10px 0px 
}
nav  a:hover {
  color: #51C183;
  border-bottom: 2px solid yellow;
}
.sous{
  display: none;
  background-color: grey;
  z-index: 10000;
  width: 100%;
  position: absolute;

}
nav > ul li:hover .sous{
  display: block; /* permet d'afficher deux block les un sous les autres*/

}
.sous li{
  float: none;
  width: 100%;
  text-align: left;
  border-right: none;
}
.sous a{
  border-bottom: none;
  padding: 10px;

}
.sous a:hover{
 border-bottom: none;

}

.bloc_texte{
  margin-left:10% ;
  width: 80%;
    background-color: rgba(0,0,0,0.85); /* 0.85= transparence*/
  font-size: 18px;
  color: #FFFFFF;
  border-radius: 20px;
  padding: 1%;
  font-family: 'robotolight';
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: justify;
  text-justify: inter-word;
}
.tabulation{
  text-align: center;
  font-size: 18px;
  color: #FFFFFF;
  font-family: 'robotolight';

}

.img_centrer{
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.img_logiciel{
  margin: auto;
  width: 30%;
}

.img_imprimante{
  margin: auto;
  width: 20%;
}

.img_slicer{
  margin: auto;
  width: 20%;
}

.tableau_image {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
  text-align: center;
  margin: auto;
  width: 100%;
}


.td_tab_image {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
  width: 50%;
}
.th_tab_image{
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
  width: 50%;
  font-size: 20px;
}

.tableau_stl,.tableau_step {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
  text-align: center;
  margin: auto;
  width: 50%;
}


.td_tab_stl,.td_tab_step {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
  width: 100%;
}
.th_tab_stl,.th_tab_step {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
  width: 100%;
  font-size: 20px;
}

.image_reglage{
  width: 75%; /* Prend 50% de la largeur du parent */
  height: auto; /* Garde le ratio */
  display: block; /* Évite les espaces indésirables sous l'image */
  margin: auto;
}

.image_stl,.image_step{
  width: 50%; /* Prend 50% de la largeur du parent */
  height: auto; /* Garde le ratio */
  display: block; /* Évite les espaces indésirables sous l'image */
  margin: auto;
}
.img_PCB{
  width: 10%; /* Prend 50% de la largeur du parent */
  height: auto; /* Garde le ratio */
  display: block; /* Évite les espaces indésirables sous l'image */
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.tabulation_simple{
  margin-left: 2em;
  font-size: 18px;
  color: #FFFFFF;
  font-family: 'robotolight';
  margin-top: 2%;

}
.lien_page{
  color: #ffffff;
}



/* video accueil*/

.annonce{

  margin:auto;
  width: 50%;

  margin-top: 5%; /* ajoute une marge ente deux bloc ici le haut du bloc*/

}
video{
  width: 100%;
}

/*histoire serie*/

#hist{
  display: flex; /* align les bloc les un a coté des autres */
  font-size: 20px;
  color: #FFFFFF;
  border-radius: 20px;
  padding: 0.5%;
  vertical-align: sub;
  font-family: 'robotolight';
  background-color: rgba(0,0,0,0.85);

}
#text_hist{
  width: 80%;
  padding: 2%;

}
#hist img{
  width: 20%;
}
.episode{
  background-color: rgba(0,0,0,1);
  font-size: 20px;
  color: #FFFFFF;
  border-radius: 20px; /* border radius */
  padding: 1%;
  width: 80%;
  margin-left: 10%;
  margin-top: 2.5%;
  font-family: 'robotolight';


}
.num_epi{
  color: #DC1CD5;

}
.resum_epi{
  display: none;

}
.episode:hover .resum_epi{
  display: block;

}

/* info_tech */

#info_serie{

  margin-left:10% ;
  width: 80%;
  background-color: rgba(0,0,0,0.85);
  font-size: 18px;
  color: #FFFFFF;
  border-radius: 20px;
  padding: 1%;
  font-family: 'robotolight';
}
#info_se{
  font-size: 25px;
  color: #FF0000;
}
#info_serie a{
  text-decoration: none;
  color: white
}
#info_serie a:hover{
  text-decoration: underline;  /* applique un soulignement*/
  color: #DC1CD5;
}
#avis{
  margin-top: 5%;
  margin-left:10% ;
  width: 80%;
  background-color: rgba(0,0,0,0.85);
  font-size: 18px;
  color: #FFFFFF;
  border-radius: 20px;
  padding: 0.5%;
  margin-bottom: 5%;
  font-family: 'robotolight';
}
#avis a{
  text-decoration: none;
  color: white
}
#avis a:hover{
  text-decoration: underline;
  color: #DC1CD5;
}
#crit{
  font-size: 25px;
  color: #FF0000;
}
#gene_tech{
 margin-top: 5%;
 margin-left:10% ;
 width: 80%;
 display: flex;
 
}
#image_tech img{
  width: 100%;
}


/*Tournage*/
.tournage{
  margin-left:10% ;
  width: 80%;
  background-color: rgba(0,0,0,0.85); /* 0.85= transparence*/
  font-size: 18px;
  color: #FFFFFF;
  border-radius: 20px;
  padding: 1%;
  font-family: 'robotolight';
  margin-top: 5%;
  margin-bottom: 5%;
}
.tour_titre{
  text-align: center;
  padding: 2%;
}

/*Personnage*/
.cardre_tel{
  display: none;
}
.cadre {
  position: relative;   /* pour servir de référent */
  width: 90%;          /* largeur à ajuster suivant le besoin */
  overflow: hidden;     /* masque les dépassements */
  line-height: 2em;    /* pour centrage vertical */
  margin-left: 5%;
  margin-top:1.5%;
  font-family: 'robotolight';
}
.cadre img {
  z-index: 1;           /* image au dessus */
  position: relative;   /* pour prise en compte z-index */
  width: 30%;           /* largeur à ajuster suivant le besoin */
}
.cadre span {
  display: block;
  position: absolute;   /* positionnement hors flux */
  left: -100%;          /* décalage à gauche toute */
  padding: 1.5%;     /* un peu d'espace latéral */
  color: #DC1CD5;          /* couleur du texte à ajuster suivant le besoin */
  background-color: rgba(0,0,0,0.90);     /* couleur du fond à ajuster suivant le besoin */
  font-size: 18px;
  display: none;
}
.cadre:hover span {
  left: 30%;            /* position égale à la largeur de l'image */
  display: block;
}

/* galerie carossel*/

.mySlides {
  display: none;
}
.slideshow-container {
  max-width: 50%;
  position: relative;
  margin-left: 35%;
  margin-top: 2.5%;
  font-family: 'robotolight';
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 5%;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 50%;
  
}

/* fleche survol */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/*QCM*/
#generale_quizz{

  margin-top: 5%;
  margin-left:10% ;
  width: 80%;
  background-color: rgba(0,0,0,0.75);
  font-size: 30px;
  color: #FFFF00;
  font-family: 'robotolight';
}
#question{
  padding-top:0.5% ;
  padding-left: 20%;
}

#Reponse{
  padding: 2%;
}
#Score{
  padding-left: 80%;
  padding-bottom: 0.5%;
}
#IMGvixtoireDefaite{
  margin-top: 2.5%;
  text-align: center;

}
#IMGvixtoireDefaite img{
  width: 50%;
}


/*Credit*/
.cred{
  margin-top: 5%;
  margin-left:10% ;
  width: 80%;
  background-color: rgba(0,0,0,0.85);
  font-size: 30px;
  color: #2C95AD;
  display: flex;
  font-family: 'robotolight';
  padding: 2.5%;

}
.text_cred{
  padding-top: 10%;
  padding-left: 2.5%
}


/* Source */
.source{
  margin-left:10% ;
  width: 80%;
  background-color: rgba(0,0,0,0.85);
  font-size: 18px;
  color: #FFFFFF;
  border-radius: 20px;
  padding: 1%;
  font-family: 'robotolight';
  margin-top: 5%;
  margin-bottom: 5%;
}
.sour_gene{
  padding-top:2%;
}
.sour_titre{
  text-align: center;
  color: #2C95AD;
}


/* conatact */
#bloc_con{

  margin-left:10% ;
  width: 80%;
  background-color: rgba(0,0,0,0.9);
  font-size: 30px;
  color: #2C95AD;
  display: block;
  padding-left: 10%;
  padding-top: 1%;
  padding-bottom: 1%;
  font-family: 'robotolight';

}
.zone{
  display: block;
  width: 80%;



}
.titre_p{
  padding-left: 35%;

}
fieldset{
  border:none;
}


/*footer*/
footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  clear: both;
  color: white;
  text-align: center;
  padding: 10px;
  background-color: #333333;
  font-family: 'robotolight';

}

footer a{
  color:white;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;

}






















