body{
	background-color : #62C0EF;
	
}

.background {
	background-color : white;

}



.contour{
	color : white;
	text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;

}

.blue {
	background-color : #62C0EF; 
	padding : 30px;
}

.white {
	background-color : white;
}


.vignet1 {

}

.vignet2 {
	animation: apparition 5s;
}

.vignet3 {

}


@keyframes apparition {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}





#logo {
	width : 200px;
	height : 30px;
	margin-left : 10px;
}

#footer {

	
}



